.terms-and-conditions-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.terms-and-conditions-hero {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  min-height: 75vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/public/playground_assets/background2-1500h.jpg");
}
.terms-and-conditions-header {
  top: -2px;
  left: -4px;
  width: 100%;
  height: var(--dl-size-size-tripleunit);
  display: flex;
  z-index: 200;
  position: fixed;
  margin-top: 0px;
  align-items: flex-start;
  background-color: var(--dl-color-secondary-300);
}
.terms-and-conditions-home {
  color: var(--dl-color-gray-white);
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.terms-and-conditions-feature {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.terms-and-conditions-preview {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.terms-and-conditions-contact {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.terms-and-conditions-terms-and-conditions {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.terms-and-conditions-privacy {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.terms-and-conditions-text {
  top: 0px;
  left: 276px;
  color: var(--dl-color-gray-white);
  right: auto;
  bottom: 0px;
  margin: auto;
  z-index: 100;
  font-size: 2.25rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.25;
  text-transform: none;
  text-decoration: none;
}
.terms-and-conditions-bg {
  top: auto;
  flex: 0 0 auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  display: flex;
  opacity: 0.4;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-black);
}
.terms-and-conditions-post-details {
  flex: 0 0 auto;
  width: 95%;
  display: flex;
  position: relative;
  max-width: 1320px;
  box-shadow: 0px 10px 15px -10px #626262;
  margin-top: -100px;
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-secondary-300);
}
.terms-and-conditions-container1 {
  top: -2rem;
  flex: 0 0 auto;
  left: auto;
  right: auto;
  width: 4rem;
  bottom: auto;
  height: 4rem;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-500);
}
.terms-and-conditions-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.terms-and-conditions-text01 {
  color: var(--dl-color-gray-white);
  font-size: 1.25rem;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-fiveunits);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
.terms-and-conditions-text02 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-unit);
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.terms-and-conditions-text05 {
  color: var(--dl-color-gray-white);
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.terms-and-conditions-text06 {
  color: var(--dl-color-gray-white);
  font-size: 1.25rem;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
.terms-and-conditions-text09 {
  color: var(--dl-color-gray-white);
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.terms-and-conditions-text10 {
  color: var(--dl-color-gray-white);
  font-size: 22.4px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  font-weight: 700;
}
.terms-and-conditions-text11 {
  color: var(--dl-color-gray-white);
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.terms-and-conditions-text14 {
  color: var(--dl-color-gray-white);
  font-size: 22.4px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  font-weight: 700;
}
.terms-and-conditions-text15 {
  color: var(--dl-color-gray-white);
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.terms-and-conditions-text16 {
  color: var(--dl-color-gray-white);
  font-size: 22.4px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  font-weight: 700;
}
.terms-and-conditions-text17 {
  color: var(--dl-color-gray-white);
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.terms-and-conditions-navlink {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-secondary-400);
}
@media(max-width: 991px) {
  .terms-and-conditions-text {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
}
